.cart {
    img {
        width: 54px;
        height: 37.97px;
    }
}

.images {
    img:not(.last-image) {
        padding-right: 35px;
    }
}

.card{
    padding: 10px;
    img{
        height: 390px;
        width: 100%;
    }
}