<main>
    <div class="cart flex justify-content-end">
        <i class="pi pi-shopping-cart" pBadge (click)="displayCart = true;" style="font-size: 2rem"
            [value]="productsInCart.length.toString()"></i>
    </div>
    <p-dialog [draggable]="false" [resizable]="false" [(visible)]="displayCart" [style]="{width: '450px'}"
        position="top-right">
        <div class="productsInCart" *ngIf="productsInCart.length > 0; else elseBlock">
            <div *ngFor="let item of productsInCart" class="flex flex-row flex-wrap justify-content-between">
                <div class="column1 w-7">
                    <p class="font-bold mb-1">{{item.name}}</p>
                    <span>{{item.price}} €</span>
                </div>
                <div class="column2 w-4">
                    <img src="{{item.image.src}}" alt="{{item.image.alt}}" />
                </div>
            </div>
            <hr />
        </div>
        <div class="buttonClearItems flex justify-content-center">
            <button pButton pRipple type="button" label="CLEAR ITEMS"
                class="p-button-outlined p.button-sm p-button-secondary" (click)="clearProducts()"></button>
        </div>
        <ng-template #elseBlock>
            <p>No hay productos</p>
        </ng-template>
    </p-dialog>
    <hr />
    <header>
        <section class="flex justify-content-between">
            <h2>Samurai King Resting</h2>
            <p-button label="ADD TO CART" styleClass="p-button-sm"></p-button>
        </section>
        <img src="/assets/images/portada.svg" alt="foto de portada">
        <div class="flex justify-content-between">
            <section class="w-6">
                <h4>About the Samurai King Resting</h4>
                <h5>Pets</h5>
                <p>So how did the classical Latin become so incoherent? According to McClintock, a 15th century
                    typesetter
                    likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various
                    fonts for a type specimen book.So how did the classical Latin become so incoherent? According to
                    McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to
                    provide
                    placeholder</p>
                <p>text to mockup various fonts for a type specimen book.So how did the classical Latin
                    become so
                    incoherent? According to McClintock.</p>
            </section>
            <section class="w-6 flex align-items-end flex-column">
                <h3>People also buy</h3>
                <div class="images flex flex-row">
                    <img src="/assets/images/Rectangle.svg" alt="">
                    <img src="/assets/images/Rectangle1.svg" alt="">
                    <img src="/assets/images/Rectangle2.svg" alt="" class="last-image">
                </div>
                <div class="details text-right mt-4 mb-4">
                    <h3>Details</h3>
                    <p>Size: 1020 x 1020 pixel</p>
                    <p>Size: 15 mb</p>
                </div>
            </section>
        </div>
        <hr />
        <section>
            <h2>Photography / <span>Premium Photos</span></h2>
            <div class="products flex flex-row">
                <div class="w-3">
                    <h4>Category</h4>
                    <div *ngFor="let category of categories" class="field-checkbox">
                        <p-checkbox name="group2" value="category" [value]="category.key"
                            [(ngModel)]="selectedCategories"></p-checkbox>
                        <label [for]="category.name">{{category.name}}</label>
                    </div>
                    <hr />
                    <h4>Price Range</h4>
                    <div *ngFor="let price of prices" class="field-checkbox">
                        <p-checkbox name="group3" value="price" [value]="price.key" [(ngModel)]="selectedPrices">
                        </p-checkbox>
                        <label [for]="price.name">{{price.name}}</label>
                    </div>
                </div>
                <div class="w-9 flex flex-wrap justify-content-end">
                    <ng-container *ngFor="let product of products">
                        <div class="card">
                            <img src="{{product.image.src}}" alt="{{product.image.alt}}" />
                            <div class="bestseller flex justify-content-between align-items-center"
                                *ngIf="product.bestseller">
                                <span>Best Seller</span>
                            </div>
                            <p>{{product.category}}</p>
                            <p>{{product.name}}</p>
                            <p>{{product.price}}€</p>
                            <div class="addToCart flex justify-content-center align-items-center"
                                (click)="addToCart(product); displayCart = true;">
                                <span>ADD TO CART</span>
                            </div>
                        </div>
                    </ng-container>
                    <div class="paginator flex justify-content-center">
                        <p-paginator [rows]="rows" [totalRecords]="total" (onPageChange)="changePage($event)">
                        </p-paginator>
                    </div>
                </div>
            </div>
        </section>
    </header>
</main>